<section class="text-center">
  <h1>Market Watcher</h1>
  <%= link_to "Markets List", backend_markets_path, class: 'btn btn-info' %>
  <%= link_to "Exchanges List", backend_exchanges_path, class: 'btn btn-info' %>
</section>
