<section class="text-center">
  <%= link_to "Backend Access", backend_root_path, class: 'btn btn-info', data: { turbolinks: false } %>
  <%= link_to "Frontend Access", frontend_root_path, class: 'btn btn-info', data: { turbolinks: false } %>
</section>
