.toggle_alarm_error{
  color: red;
  // display: hidden;
  // animation-name: got_error;
  // animation-duration: 2.5s;
}



.ticker_row {

}

// @keyframes got_error {
//     // from {color: white;}
//     // to {color: red;}
//     from {display: block;}
//     to {display: hidden;}
// }

// @keyframes load8 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
