.form-control {
  background-color: #ddd;
  opacity: 1;
}
.form-control {
  background-color: #ddd;
}
.form-control {
  background-color: #ddd;
}
.markets-under-header-left{
    margin-bottom: -7px;
    color: #7ee435;
}
.markets-under-header-right{
  margin-bottom: -18px;
  position: relative;
  color: #7ee435;
  top: -12px;
}
body {
  background-color: #222;
  color: #e6e6e4;
  letter-spacing: 0.4px;
}

.market_show_header{
  position: absolute;
  top: 1em;
  right: 1em;
}

.tooltip-span-label-line-chart{
  fill-opacity: 0;
}

.table-hover > tbody > tr:hover {

  .tooltip-span-label-line-chart{
    fill-opacity: 1;
  }
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 6em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgb(255, 0, 0);
  border-left: 1.1em solid white;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  padding: 5em;
  color: gold;
}

.loader-small {
  position: absolute;
  top: 7em;
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgb(255, 0, 0);
  border-left: 1.1em solid white;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}


.ticker_row {
  color: red;
  //animation-name: ticker_fetched;
  //animation-duration: 2.5s;
}

@keyframes ticker_fetched {
    from {color: red;}
    to {color: white;}
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
