
.portfolio-chart-row{
  height: 443px;
}

.recharts-wrapper{
  top: -6em;
}

.recharts-legend-wrapper{
  ul{
    list-style-type: none;
  }
  right: -50px !important;
}

.portfolio-asset-row.active{
  color: black;
  font-weight: 400;
}
