
.portfolio-chart-row{
  height: 443px;
}

.recharts-wrapper{
  top: -6em;
}

.recharts-legend-wrapper{
  ul{
    list-style-type: none;
  }
  //right: -25px !important;
}

.portfolio-asset-row.active{
  color: black;
  font-weight: 400;
}

// .Select-input{
//   input{
//     width: 100% !important;
//   }
// }

.modal-content{
  color: #4a3f3f;
  .modal-body{
  }
}
